* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.nav {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 0 1rem;
}

.nav a {
    color: inherit;
}

.ag-theme-quartz {
    border-collapse: collapse;
    margin: 65px auto;
}

.details {
    margin: 65px auto;
    display: flex;
}

.auth-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem;
    border: 1px solid white;
}

.auth-form label {
    text-align: left;
    padding: 0.25rem 0;
}

.auth-form input {
    margin: 0.5rem 0;
    padding: 0.5rem;
    border-radius: 10px;
}

.auth-form Button {
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    width: 200px;
}

.homepage {
    text-align: center;
}

.homepage img {
    width: 100%;
    object-fit: cover;
}


.left, .right {
    flex: 1;
    display: flex;
    align-items: center;
}
  
  .right {
    justify-content: flex-end;
  }